<!DOCTYPE html>
<html>
<style>
    p {
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
    }
</style>

<head>
    <meta charset=utf8>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>focus</title>
</head>

<body onload="showtime()">
    <link rel="stylesheet" type="text/css" href="./css/counttime.css">
    <div id="app">
        <v-app id="inspire">
            <v-toolbar fixed app :color="color" dark>
                <v-toolbar-title>Menu</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat id="issue">
                    <v-icon>fab fa-github</v-icon>反馈
                </v-btn>
                <div>
                    <v-dialog v-model="dialog" width="400">
                        <v-btn flat slot="activator">
                            <v-icon>help</v-icon>帮助
                        </v-btn>

                        <v-card>
                            <v-card-text>设置时间，确定要做的事情</v-card-text>

                            <v-divider></v-divider>
                        </v-card>
                    </v-dialog>
                </div>
                <v-btn flat href="https://i.loli.net/2019/02/10/5c5fd6a90dbd0.jpg">
                    <v-icon color="pink">favorite</v-icon>感谢
                </v-btn>
                <v-btn flat id="about">
                    <v-icon>filter_frames</v-icon>关于
                </v-btn>
            </v-toolbar>
            <v-spacer></v-spacer>

            <v-content>
                <v-flex xs16>
                    <v-carousel hide-controls>
                        <v-carousel-item v-for="(img,i) in imgs" :key="i" :src="img.src"></v-carousel-item>
                    </v-carousel>
                    <v-card height="90px">
                        <v-list>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title id="song">Menuet D major</v-list-tile-title>
                                    <v-list-tile-sub-title id="singer">Mozart</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-action :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
                                    <audio controls style=" width:300px;height:30px;" onended="NextSong()" id="music"
                                        src="./audio/Menuet D Major.mp3"></audio>
                                </v-list-tile-action>
                                <span id="rest"></span>
                                <v-menu open-on-hover top offset-y>
                                    <v-btn slot="activator" class="buttoncolor" dark>
                                        <v-icon dark color="pink lighten-5">library_music</v-icon>播放列表
                                    </v-btn>
                                    <v-list>
                                        <v-list-tile v-for="(item, index) in items" :key="index" @click="choose(index)">
                                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                        </v-list-tile>
                                    </v-list>
                                </v-menu>
                                <v-btn flat icon :color="color" onclick="NextSong()">
                                    <v-icon>skip_next</v-icon>
                                </v-btn>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
                <v-container fluid>
                    <div>
                        <p id="demo" style="height:30px;"></p>
                    </div>
                    <div>
                        <div>
                            <v-layout row wrap>
                                <v-flex xs5>
                                    <v-btn color="orange darken-2" dark Onclick="backSetURL()">
                                        <v-icon dark left>arrow_back</v-icon>Back
                                    </v-btn>
                                </v-flex>
                                <v-flex xs5>
                                    <h1>
                                        <span>禁用程序:</span>
                                        <span id="ban" class="ban"></span>
                                    </h1>
                                </v-flex>
                                <v-flex xs2>
                                    <v-layout>
                                        <v-btn color="red" dark @click.stop="dialog2 = true">
                                            <v-icon dark>stop</v-icon>stop
                                        </v-btn>
                                        <v-dialog v-model="dialog2" max-width="290">
                                            <v-card class="tinycard">
                                                <v-card-title class="headline font-weight-bold">停止是弱者的体现</v-card-title>
                                                <v-card-text>你真的要停止吗？</v-card-text>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn :color="color" flat="flat" @click="dialog2 = false"
                                                        depressed>我再想想</v-btn>
                                                    <v-btn :color="color" flat="flat" @click="dialog2 = false"
                                                        onClick="stopCount()">是</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </div>
                    </div>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="./js/index2.js"></script>
</body>

</html>